@model IEnumerable<FinalTestChar.Models.Course>
@{
    ViewData["Title"] = "Enroll Course";
}
    
<style>

    .logo {
        display: block;
        margin: 0 auto;
        width: 150px;
        height: 150px;
    }

    .spacing {
        padding-top: 10px;
    }

    .column {
        float: left;
        width: 25%;
        padding: 0 10px;
        max-height: 100%;
    }

    .card-header, .card-footer {
        background-color: #fff;
    }

    .btn {
        margin-top: 10px;
        margin-bottom: 10px;
        width: 100%;
    }
</style>


<h1 class="pb-4">Enroll Now!</h1>

<div class="row pb-4">
    @foreach (var item in Model)
    {
        <div class="column">
            <div class="card h-100">
                <div class="card-header">
                    @if (item.Logo != null)
                    {
                        <img src="@Url.Content(item.Logo)" class="logo" alt="Logo" />
                    }
                </div>
                <div class="card-body">
                    <h5 class="card-title spacing">@Html.DisplayFor(modelItem => item.Title)</h5>
                    <p class="card-text">@Html.DisplayFor(model => item.Description)</p>
                    <p class="card-text">&#8369;@Html.DisplayFor(model => item.Price)</p>
                </div>
                <div class="card-footer">
                    <a asp-action="AddToCart" asp-route-id="@item.Id">Enroll</a>
                </div>
            </div>
        </div>
    }
</div>