    @model IEnumerable<LaZuitt.Models.Course>

    @{
        ViewData["Title"] = "Courses";
    }


    <!DOCTYPE html>
    <html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            * {
                box-sizing: border-box;
            }

            body {
                font-family: Arial, Helvetica, sans-serif;
            }

            /* Float four columns side by side */
            .column {
                float: left;
                width: 25%;
                padding: 0 10px;
            }

                .column img {
                    margin: 10px;
                    max-height: 150px;
                    object-fit: contain;
                }


            /* Remove extra left and right margins, due to padding */
            .row {
                margin: 0 -5px;
            }

                /* Clear floats after the columns */
                .row:after {
                    content: "";
                    display: table;
                    clear: both;
                }

            /* Style the counter cards */
            .card {
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
                padding: 16px;
                text-align: center;
                background-color: #f1f1f1;
            }
        </style>
    </head>
    <body>

        @{
            ViewData["Title"] = "Home Page";
        }

        <div class="text-center" style="padding-bottom: 100px">
            <h1 class="display-4">Welcome to LaZuitt</h1>
            <br />

        </div>

        <div>
            <h2 style="display:inline-block">Courses available</h2>
            <button style="float:center; background-color:#ececec; margin-left:50px">
                <a class="nav-link text-dark" asp-area="" asp-controller="Courses" asp-action="Create">
                    Create New
                </a>
            </button>


        </div>

        <br>

        <div class="row">
            @foreach (var item in Model)
            {
                <div class="column">
                    <div class="card" style="background-color: white">
                        <h3> @Html.DisplayFor(modelItem => item.Title) </h3>

                        @if (item.Logo != null)
                        {
                            <img src="@Url.Content(item.Logo)" alt="Logo" />
                        }
                        <br />

                        <p>
                            @Html.DisplayFor(modelItem => item.Description)
                        </p>

                        <br />

                        <a asp-action="Edit" asp-route-id="@item.Id" class="text-decoration-none">
                            <button style="width:250px">Edit</button>
                        </a>

                        <br />

                        <a asp-action="Details" asp-route-id="@item.Id" class="text-decoration-none">
                            <button style="width:250px">Details</button>
                        </a>

                        <br />

                        <a asp-action="Delete" asp-route-id="@item.Id" class="text-decoration-none">
                            <button style="width:250px">Delete</button>
                        </a>
                    </div>
                </div>
            }
        </div>

    </body>
    </html>
