﻿@*@model IEnumerable<FinalTestChar.Models.Course>*@

@{

    ViewData["Title"] = "Checkout";
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

    <style>
        .logo {
            display: block;
            margin: 0 auto;
            width: 50px;
            height: 50px;
        }

        .text-center {
            text-align: center;
        }

        .text-right {
            text-align: right;
        }

        .borderless th, .borderless td {
            border: none;
        }

        .customer-info {
            display: flex;
            justify-content: flex-end;
        }
    </style>



}

<partial name="_MyCart" />

