﻿@{
    ViewData["Title"] = "Create Course";
}

<h1>Create New Course</h1>
<br />

<table border="0" cellpadding="5" cellspacing="0" width="600">
    <tr>
        <td>
            <label for="CourseTitle">Course Title:</label>
        </td>
        <td>
            <input name="CourseTitle" type="text" maxlength="60" style="width:100%;max-width: 300px;" />
        </td>
    </tr>
    <tr>
        <td>
            <label for="Stack">Stack:</label>
        </td>
        <td>
            <select name="Stack" type="text" maxlength="60" style="width:100%;max-width: 300px;">
                <option value="empty"></option>
                <option value="mern">MERN Stack</option>
                <option value="mean">MEAN Stack</option>
                <option value="django">Django Stack</option>
                <option value="rails">Rails</option>
                <option value="lamp">LAMP Stack</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>
            <label for="Description">Description:</label>
        </td>
        <td>
            <input name="Description" type="text" maxlength="43" style="width: 100%; max-width: 300px;" />
        </td>
    </tr>
    <tr>
        <td>
            <label for="Thumbnail">Thumbnail:</label>
        </td>
        <td>
            <input name="Thumbnail" type="text" maxlength="43" style="width: 100%; max-width: 300px;" />
        </td>
    </tr>
    <tr>
        <td>
            <label for="Price">Price:</label>
        </td>
        <td>
            <input name="Price" type="text" maxlength="43" style="width: 100%; max-width: 300px;" />
        </td>

</table>
<br />
<button name="Create" type="submit" maxlength="43" style="width: 100%; max-width: 300px; margin-left:210px; background-color:gray">
    Create
</button>