﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

.column img {
  margin: 10px;
  max-height: 150px;
  object-fit: contain;
}


/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@*@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}*@

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}


 </style>
</head>
<body>

    @{
        ViewData["Title"] = "Home Page";
    }

    <div class="text-center" style="padding-bottom: 100px">
        <h1 class="display-4">Welcome to LaZuitt</h1>
        <br />
        <h3>Hello, Admin</h3>
    </div>

    <div>
        <h2 style="display:inline-block">Courses available</h2>
        <button style="float:right; background-color:gray">
            <a class="nav-link text-dark" asp-area="" asp-controller="Courses" asp-action="CreateCourse">
                Create Course
            </a>
        </button>


    </div>

    <br>

    <div class="row">
        <div class="column">
            <div class="card" style="background-color: white">
                <h3>ASP.NET</h3>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRMOH00P2p0cF3CtYyLLUp_7yTJsoqpwIyxeUihYWnOszvwSbFcJbyv3NleB4ackTfap2I&usqp=CAU">

                <br />

                <p>
                    ASP is a development framework for building web pages.
                </p>

                <br />

                <button>Edit</button>

                <br />

                <button>Details</button>

                <br />

                <button>Delete</button>
            </div>
        </div>

        <div class="column">
            <div class="card" style="background-color: white">
                <h3>Python</h3>
                <img src="https://i.pinimg.com/originals/a8/53/14/a8531424a5fac660e4261f72ca817141.png">

                <br />
                <p>Python can be used on a server to create web applications.</p>

                <br />

                <button>Edit</button>

                <br />

                <button>Details</button>

                <br />

                <button>Delete</button>

            </div>
        </div>

        <div class="column">
            <div class="card" style="background-color: white">
                <h3>Django</h3>
                <img src="https://youteam.io/blog/wp-content/uploads/2022/06/django-icon-0.png">

                <br />
                <p>Django is a Python framework that makes it easier to create web sites using Python.</p>

                <br />

                <button>Edit</button>

                <br />

                <button>Details</button>

                <br />

                <button>Delete</button>
            </div>
        </div>

        <div class="column">
            <div class="card" style="background-color: white">
                <h3>JavaScript </h3>
                <img src="https://upload.wikimedia.org/wikipedia/commons/6/6a/JavaScript-logo.png">

                <br />
                <p>JavaScript is the most programming language of the Web.</p>

                <br />

                <button>Edit</button>

                <br />

                <button>Details</button>

                <br />

                <button>Delete</button>
            </div>
        </div>

    </div>

</body>
</html>
