﻿<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            * {
                box-sizing: border-box;
            }

            body {
                font-family: Arial, Helvetica, sans-serif;
            }

            .column {
                float: left;
                width: 25%;
                padding: 0 10px;
            }

            .column img {
                margin: 10px;
                max-height: 150px;
                object-fit: contain;
            }

            .row {
                margin: 0 5px;
            }

            .row:after {
                content: "";
                display: table;
                clear: both;
            }

            @*media screen and (max-width: 600px) {
                .column {
                    width: 100%;
                    display: block;
                    margin-bottom: 20px
                }
            } *@

            .card {
                box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
                padding: 16px;
                text-align: center;
                background-color: #f1f1f1;
            }

        </style>
    </head>

    <body>

        @{
            ViewData["Title"] = "Courses Page";
        }

        <div class="text-center" style="padding-bottom: 100px;">
            <h1 class="display-4">
                Welcome to Zuitt
            </h1>
            <br />
            <h3>Hello, Admin</h3>
        </div>

        <div>
            <h2 class="d-inline-block">Courses Available</h2>
            <button class="float-end bg-secondary">
                <a class="nav-link text-dark" asp-area="" asp-controller="Courses" asp-action="CreateCourse">
                    Create Course
                </a>
            </button>
        </div>

        <div class="row">
            <div class="column md-col-3">
                <div class="card bg-white p-3">
                    <h3>ASP.NET</h3>
                    <img  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRMOH00P2p0cF3CtYyLLUp_7yTJsoqpwIyxeUihYWnOszvwSbFcJbyv3NleB4ackTfap2I&usqp=CAU"/>
                    <p>
                        ASP is a development framework for building web pages.
                    </p>


                    <div class="d-flex flex-column justify-content-center align-items-center">
                        <button class="btn btn-primary mb-2">Edit</button>
                        <button class="btn btn-info mb-2">Details</button>
                        <button class="btn btn-danger mb-2">Delete</button>
                    </div>

                </div>
            </div>

            <div class="column md-col-3">
                <div class="card bg-white p-3">
                    <h3>Python</h3>
                    <img  src="https://i.pinimg.com/originals/a8/53/14/a8531424a5fac660e4261f72ca817141.png"/>
                    <p>
                       Python can be used on a server to create web applications.
                    </p>


                    <div class="d-flex flex-column justify-content-center align-items-center">
                        <button class="btn btn-primary mb-2">Edit</button>
                        <button class="btn btn-info mb-2">Details</button>
                        <button class="btn btn-danger mb-2">Delete</button>
                    </div>

                </div>
            </div>

            <div class="column md-col-3">
                <div class="card bg-white p-3">
                    <h3>Django</h3>
                    <img  src="https://youteam.io/blog/wp-content/uploads/2022/06/django-icon-0.png"/>
                    <p>
                       Django is a Python framework that makes it easier to create web sites using Python.
                    </p>


                    <div class="d-flex flex-column justify-content-center align-items-center">
                        <button class="btn btn-primary mb-2">Edit</button>
                        <button class="btn btn-info mb-2">Details</button>
                        <button class="btn btn-danger mb-2">Delete</button>
                    </div>

                </div>
            </div>

            <div class="column md-col-3">
                <div class="card bg-white p-3">
                    <h3>JavaScipt</h3>
                    <img  src="https://upload.wikimedia.org/wikipedia/commons/6/6a/JavaScript-logo.png"/>
                    <p>
                       JavaScript is the most common programming language of the Web.
                    </p>


                    <div class="d-flex flex-column justify-content-center align-items-center">
                        <button class="btn btn-primary mb-2">Edit</button>
                        <button class="btn btn-info mb-2">Details</button>
                        <button class="btn btn-danger mb-2">Delete</button>
                    </div>

                </div>
            </div>
        </div>

    </body>
</html>